body {
	background-color: #e0e0e0;
	font-family: "Lucida Console", Monaco, monospace;
}

div {
	background-color: #ffffff;
	border: thin solid black;
	border-radius: 10px;
	display: inline-block;
	margin: 4px;
	padding: 7px
}

#title {
	color: blue;
	font-weight: bold;
	text-align: center;
}

#result {
	color: orange;
	font-weight: bold;
}
